header{
    height:130px;
    background:#F4CCCC;
    border:1px  black;
    left:0;
    position: absolute;
    top: 0;
    left:0;
    right:0;
    }

    #titlu{
        font-size: 30px;
        margin-left: 5%;
        text-align:left;
        font-weight: bold;
    }
    #meniu{
       float: left;
    }

    .butoane{
        background-color: #F4CCCC;
        border: none;
        padding: 15px 32px;
        text-align: left;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        font-weight: bold;
        width: 200px;
    }



    #buton1{
        float: right;
    }

    #buton2{
        float: right;
    }

 footer{
     position: absolute;
     bottom: 0;
     left:0;
     right:0;
     height: 50px;
     background-color: #F4CCCC;
     text-align: center;
 }

 .imagine{
     width: 250px;
     height: 300px;
 }

 .child{
     float: left;
 }
 
 .imagineDetails{
     margin-left: 10%;
     width: 300px;
     height: 400;
     
 }

 .titluDetails{
     margin-left: 10%;
     float: left;
     font-size: 30px;
 }

 .descriere{
     margin-left: 20%;
 }


#myTable{
    margin-left: 5%;
    float:left;
}
.detaliiCos{
    float: left;
    margin-left: 20px;
}



#container_produse{
    margin-left: 210px;
    border-left: 1px;

}

.child{
    border: ridge;
    border-color: #F3E7E7;
    margin-right: 5px;
    margin-bottom: 5px;
}

.butonCategorie{
    background-color: white;
    border-color: white;
    color: black;
    border-style: none;
    text-decoration-color: white;
}

#myTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.butonCantitate{
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    color: blue;
    font-weight: bold;
}

