body{
    background-color:#cce6ff;
}

h1{
    color: RGB(85,26,140);
}

#butonAdd{
    margin-left: 83%;
    color: white;
    background-color: #66b5ff;
    width: 170px;
    height: 30px;
    border: none;
    border-radius: 7px;
    font-size: 15px;
}

#butonAdaugaPreparat{
    color: white;
    background-color: #66b5ff;
    width: 170px;
    height: 30px;
    border: none;
    border-radius: 7px;
    font-size: 15px;
}

#butonSalveazaPreparat{
    color: white;
    background-color: #66b5ff;
    width: 170px;
    height: 30px;
    border: none;
    border-radius: 7px;
    font-size: 15px;
}

#ingrediente{
    width: 320px;
    height: 25px;
}

#cautaIngrediente{
    height: 30px;
    color: white;
    background-color: #d9b3ff;
    border: none;
    border-radius: 7px;
    font-size: 15px;
    width: 180px;
}

.titluPreparat{
    font-weight: bold;
}

.aEdit{
        color: white;
        cursor: pointer;
        text-decoration: none;
}

.butonEdit{
    color: white;
    background-color: #66b5ff;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 7px;
    font-size: 15px;
}


.butonDelete{
    background-color: red;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 7px;
    font-size: 15px;
    }

#da{
    color: white;
    background-color: #66b5ff;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 7px;
    font-size: 15px;   
}

#nu{
    background-color: red;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 7px;
    font-size: 15px;
}

#idMeniu{
    background-color: red;
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 7px;
    font-size: 15px;
    color:white; 
}

.titlu{
    font-weight: bold;
}

#idMeniu1{
    background-color: red;
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 7px;
    font-size: 15px;
    color:white;
    margin-left: 470px; 
}

.paragrafDelete{
    font-weight: bold;
    font-size: 25px;
}